@charset "UTF-8";
@import url('https://rsms.me/inter/inter.css');

/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

@font-face { font-family: "et-book";
             src: url("./et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
             src: url("./et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("./et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("./et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("./et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
             font-weight: normal;
             font-style: normal; }

@font-face { font-family: "et-book";
             src: url("./et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
             src: url("./et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("./et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("./et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("./et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
             font-weight: normal;
             font-style: italic; }

@font-face { font-family: "et-book";
             src: url("./et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
             src: url("./et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("./et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("./et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("./et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
             font-weight: bold;
             font-style: normal; }

@font-face { font-family: "et-book-roman-old-style";
             src: url("./et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
             src: url("./et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("./et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("./et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("./et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
             font-weight: normal;
             font-style: normal; }

/* Tufte CSS styles */
html {
  font-size: 15px;
  /*transform: scale(2);
  transform-origin: 0 0;
  width: 50%;*/
}

body {
  margin: 0;
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  background-image: url("./bg-square-dark.png");
  background-color: #fffdf9;
  color: #111;
  max-width: 1400px;
  counter-reset: sidenote-counter;
  word-break: normal;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  text-align: justify;
  transition: background-color .25s ease-in-out;
}

body > * {
  transition: color .5s ease-in-out;
}

h1 {
  font-weight: 400;
  margin-top: 9.5rem;
  margin-bottom: 3.5rem;
  font-size: 3rem;
  line-height: 1;
  user-select: none;
  -moz-user-select: none;
  cursor: default;
}

.logo {
  font-weight: 100;
  margin-top: 9.5rem;
  margin-bottom: 2.5rem;
  font-size: 50px;
  line-height: 1;
  user-select: none;
  -moz-user-select: none;
  cursor: default;
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.05em;
}

h2 { font-style: italic;
     font-weight: 400;
     margin-top: 2.1rem;
     margin-bottom: 1.4rem;
     font-size: 2.2rem;
     line-height: 1; }

h3 { font-style: italic;
     font-weight: 400;
     font-size: 1.7rem;
     margin-top: 2rem;
     margin-bottom: 1.4rem;
     line-height: 1; }

h4 { font-style: italic;
      font-weight: 400;
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-bottom: 1.4rem;
      line-height: 1; }

hr { display: block;
     height: 1px;
     width: 55%;
     border: 0;
     border-top: 1px solid #ccc;
     margin: 1em 0;
     padding: 0; }

p.subtitle { font-style: italic;
             margin-top: 1rem;
             margin-bottom: 1rem;
             font-size: 1.8rem;
             display: block;
             width: 55%;
             line-height: 1; }

.numeral { font-family: et-book-roman-old-style; }

.danger { color: red; }

article {
  position: relative;
  padding: 0 0 0 13%;
  width: 87%;
}

section { padding-top: 1rem;
          padding-bottom: 1rem; }

p, ol, ul { font-size: 1.4rem;
            line-height: 2rem; }

p { margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline; }

/* Chapter Epigraphs */
div.epigraph { margin: 5em 0; }

div.epigraph > blockquote { margin-top: 3em;
                            margin-bottom: 3em; }

div.epigraph > blockquote, div.epigraph > blockquote > p { font-style: italic; }

div.epigraph > blockquote > footer { font-style: normal; }

div.epigraph > blockquote > footer > cite { font-style: italic; }
/* end chapter epigraphs styles */

blockquote { font-size: 1.4rem; }

blockquote p { width: 55%;
               margin-right: 40px; }

blockquote footer { width: 55%;
                    font-size: 1.1rem;
                    text-align: right; }

section > p, section > footer, section > table { width: 55%; }

/* 50 + 5 == 55, to be the same width as paragraph */
section > ol, section > ul { width: 50%;
                             -webkit-padding-start: 5%; }

li:not(:first-child) { margin-top: 0.25rem; }

figure { padding: 0;
         border: 0;
         font-size: 100%;
         font: inherit;
         vertical-align: baseline;
         max-width: 55%;
         -webkit-margin-start: 0;
         -webkit-margin-end: 0;
         margin: 0 0 3em 0; }

figcaption { float: right;
             clear: right;
             margin-top: 0;
             margin-bottom: 0;
             font-size: 1.1rem;
             line-height: 1.6;
             vertical-align: baseline;
             position: relative;
             max-width: 40%; }

figure.fullwidth figcaption { margin-right: 24%; }

/* Links: replicate underline that clears descenders */
a:link, a:visited, a:hover {
  /*color: #3366cc;
  transition: text-shadow .25s ease-in-out;
  -webkit-transition: text-shadow .25s ease-in-out;
  -moz-transition: text-shadow .25s ease-in-out;*/
  text-decoration: none;
  color: inherit;
}

a:link { text-decoration: none;
         background: -webkit-linear-gradient(#fffdf9, #fffdf9), -webkit-linear-gradient(#fffdf9, #fffdf9), -webkit-linear-gradient(#333, #333);
         background: linear-gradient(#fffdf9, #fffdf9), linear-gradient(#fffdf9, #fffdf9), linear-gradient(#333, #333);
         background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         background-repeat: no-repeat, no-repeat, repeat-x;
         text-shadow: 0.03em 0 #fffdf9, -0.03em 0 #fffdf9, 0 0.03em #fffdf9, 0 -0.03em #fffdf9, 0.06em 0 #fffdf9, -0.06em 0 #fffdf9, 0.09em 0 #fffdf9, -0.09em 0 #fffdf9, 0.12em 0 #fffdf9, -0.12em 0 #fffdf9, 0.15em 0 #fffdf9, -0.15em 0 #fffdf9;
         background-position: 0% 93%, 100% 93%, 0% 93%; }

.lightdark a:link { text-decoration: none;
        background: -webkit-linear-gradient(#f4ecd8, #f4ecd8), -webkit-linear-gradient(#f4ecd8, #f4ecd8), -webkit-linear-gradient(#333, #333);
        background: linear-gradient(#f4ecd8, #f4ecd8), linear-gradient(#f4ecd8, #f4ecd8), linear-gradient(#333, #333);
        background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
        background-repeat: no-repeat, no-repeat, repeat-x;
        text-shadow: 0.03em 0 #f4ecd8, -0.03em 0 #f4ecd8, 0 0.03em #f4ecd8, 0 -0.03em #f4ecd8, 0.06em 0 #f4ecd8, -0.06em 0 #f4ecd8, 0.09em 0 #f4ecd8, -0.09em 0 #f4ecd8, 0.12em 0 #f4ecd8, -0.12em 0 #f4ecd8, 0.15em 0 #f4ecd8, -0.15em 0 #f4ecd8;
        background-position: 0% 93%, 100% 93%, 0% 93%; }

.darklight a:link { text-decoration: none;
        background: -webkit-linear-gradient(#4e5863, #4e5863), -webkit-linear-gradient(#4e5863, #4e5863), -webkit-linear-gradient(#333, #333);
        background: linear-gradient(#4e5863, #4e5863), linear-gradient(#4e5863, #4e5863), linear-gradient(#f9fbff, #f9fbff);
        background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
        background-repeat: no-repeat, no-repeat, repeat-x;
        text-shadow: 0.03em 0 #4e5863, -0.03em 0 #4e5863, 0 0.03em #4e5863, 0 -0.03em #4e5863, 0.06em 0 #4e5863, -0.06em 0 #4e5863, 0.09em 0 #4e5863, -0.09em 0 #4e5863, 0.12em 0 #4e5863, -0.12em 0 #4e5863, 0.15em 0 #4e5863, -0.15em 0 #4e5863;
        background-position: 0% 93%, 100% 93%, 0% 93%; }

.dark a:link { text-decoration: none;
        background: -webkit-linear-gradient(#282c34, #282c34), -webkit-linear-gradient(#282c34, #282c34), -webkit-linear-gradient(#333, #333);
        background: linear-gradient(#282c34, #282c34), linear-gradient(#282c34, #282c34), linear-gradient(#e0e0e0, #e0e0e0);
        background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
        background-repeat: no-repeat, no-repeat, repeat-x;
        text-shadow: 0.03em 0 #282c34, -0.03em 0 #282c34, 0 0.03em #282c34, 0 -0.03em #282c34, 0.06em 0 #282c34, -0.06em 0 #282c34, 0.09em 0 #282c34, -0.09em 0 #282c34, 0.12em 0 #282c34, -0.12em 0 #282c34, 0.15em 0 #282c34, -0.15em 0 #282c34;
        background-position: 0% 93%, 100% 93%, 0% 93%; }


@media screen and (-webkit-min-device-pixel-ratio: 0) { a:link { background-position-y: 87%, 87%, 87%; } }


::selection {
  background: #e5f2f1;
}

.dark ::selection {
  background: #477572;
  color: #e6f5f4;
}

.lightdark ::selection {
  background: #dde2d2;
}

.darklight ::selection {
  background-color: #71a29e;
  color: #e7f9f7;
}

a:link::selection { text-shadow: 0.03em 0 #e5f2f1, -0.03em 0 #e5f2f1, 0 0.03em #e5f2f1, 0 -0.03em #e5f2f1, 0.06em 0 #e5f2f1, -0.06em 0 #e5f2f1, 0.09em 0 #e5f2f1, -0.09em 0 #e5f2f1, 0.12em 0 #e5f2f1, -0.12em 0 #e5f2f1, 0.15em 0 #e5f2f1, -0.15em 0 #e5f2f1; background: #e5f2f1; }

a:link::-moz-selection { text-shadow: 0.03em 0 #e5f2f1, -0.03em 0 #e5f2f1, 0 0.03em #e5f2f1, 0 -0.03em #e5f2f1, 0.06em 0 #e5f2f1, -0.06em 0 #e5f2f1, 0.09em 0 #e5f2f1, -0.09em 0 #e5f2f1, 0.12em 0 #e5f2f1, -0.12em 0 #e5f2f1, 0.15em 0 #e5f2f1, -0.15em 0 #e5f2f1; background: #e5f2f1; }

.lightdark a:link::selection { text-shadow: 0.03em 0 #dde2d2, -0.03em 0 #dde2d2, 0 0.03em #dde2d2, 0 -0.03em #dde2d2, 0.06em 0 #dde2d2, -0.06em 0 #dde2d2, 0.09em 0 #dde2d2, -0.09em 0 #dde2d2, 0.12em 0 #dde2d2, -0.12em 0 #dde2d2, 0.15em 0 #dde2d2, -0.15em 0 #dde2d2; background: #dde2d2; }

.lightdark a:link::-moz-selection { text-shadow: 0.03em 0 #dde2d2, -0.03em 0 #dde2d2, 0 0.03em #dde2d2, 0 -0.03em #dde2d2, 0.06em 0 #dde2d2, -0.06em 0 #dde2d2, 0.09em 0 #dde2d2, -0.09em 0 #dde2d2, 0.12em 0 #dde2d2, -0.12em 0 #dde2d2, 0.15em 0 #dde2d2, -0.15em 0 #dde2d2; background: #dde2d2; }

.darklight a:link::selection { text-shadow: 0.03em 0 #71a29e, -0.03em 0 #71a29e, 0 0.03em #71a29e, 0 -0.03em #71a29e, 0.06em 0 #71a29e, -0.06em 0 #71a29e, 0.09em 0 #71a29e, -0.09em 0 #71a29e, 0.12em 0 #71a29e, -0.12em 0 #71a29e, 0.15em 0 #71a29e, -0.15em 0 #71a29e; background: #71a29e; }

.darklight a:link::-moz-selection { text-shadow: 0.03em 0 #71a29e, -0.03em 0 #71a29e, 0 0.03em #71a29e, 0 -0.03em #71a29e, 0.06em 0 #71a29e, -0.06em 0 #71a29e, 0.09em 0 #71a29e, -0.09em 0 #71a29e, 0.12em 0 #71a29e, -0.12em 0 #71a29e, 0.15em 0 #71a29e, -0.15em 0 #71a29e; background: #71a29e; }

.dark a:link::selection { text-shadow: 0.03em 0 #477572, -0.03em 0 #477572, 0 0.03em #477572, 0 -0.03em #477572, 0.06em 0 #477572, -0.06em 0 #477572, 0.09em 0 #477572, -0.09em 0 #477572, 0.12em 0 #477572, -0.12em 0 #477572, 0.15em 0 #477572, -0.15em 0 #477572; background: #477572; }

.dark a:link::-moz-selection { text-shadow: 0.03em 0 #477572, -0.03em 0 #477572, 0 0.03em #477572, 0 -0.03em #477572, 0.06em 0 #477572, -0.06em 0 #477572, 0.09em 0 #477572, -0.09em 0 #477572, 0.12em 0 #477572, -0.12em 0 #477572, 0.15em 0 #477572, -0.15em 0 #477572; background: #477572; }

/* Sidenotes, margin notes, figures, captions */
img { max-width: 100%; }

.sidenote, .marginnote { float: right;
                         clear: right;
                         margin-right: -60%;
                         width: 50%;
                         margin-top: 0;
                         margin-bottom: 0;
                         font-size: 1.1rem;
                         line-height: 1.3;
                         vertical-align: baseline;
                         position: relative; }

.sidenote-number { counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before { font-family: et-book-roman-old-style;
                                           position: relative;
                                           vertical-align: baseline; }

.sidenote-number:after { content: counter(sidenote-counter);
                         font-size: 1rem;
                         top: -0.5rem;
                         left: 0.1rem; }

.sidenote:before { content: counter(sidenote-counter) " ";
                   top: -0.5rem; }

blockquote .sidenote, blockquote .marginnote { margin-right: -82%;
                                               min-width: 59%;
                                               text-align: left; }

div.fullwidth, table.fullwidth { width: 100%; }

div.table-wrapper { overflow-x: auto;
                    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif; }

.sans { font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
        letter-spacing: .03em; }

code { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
       font-size: 1.0rem;
       line-height: 1.42; }

.sans > code { font-size: 1.2rem; }

h1 > code, h2 > code, h3 > code { font-size: 0.80em; }

.marginnote > code, .sidenote > code { font-size: 1rem; }

pre.code { font-size: 0.9rem;
           width: 52.5%;
           margin-left: 2.5%;
           overflow-x: auto; }

pre.code.fullwidth { width: 90%; }

.fullwidth { max-width: 90%;
             clear:both; }

span.newthought { font-variant: small-caps;
                  font-size: 1.2em; }

input.margin-toggle { display: none; }

label.sidenote-number { display: inline; }

label.margin-toggle:not(.sidenote-number) { display: none; }

.iframe-wrapper { position: relative;
                  padding-bottom: 56.25%; /* 16:9 */
                  padding-top: 25px;
                  height: 0; }

.iframe-wrapper iframe { position: absolute;
                         top: 0;
                         left: 0;
                         width: 100%;
                         height: 100%; }

@media (max-width: 760px) { article { width: 90%;
                                   padding-left: 5%;
                                   padding-right: 5%; }
                            hr, section > p, section > footer, section > table { width: 100%; }
                            .our {
                              padding: 0 12px 0 5% !important;
                              margin-right: 5px !important;
                            }
                            p.subtitle { font-style: italic;
                                         margin-top: 1rem;
                                         margin-bottom: 1rem;
                                         font-size: 1.8rem;
                                         display: block;
                                         width: 100%;
                                         line-height: 1; }
                            pre.code { width: 97%; }
                            section > ol { width: 90%; }
                            section > ul { width: 90%; }
                            figure { max-width: 90%; }
                            figcaption, figure.fullwidth figcaption { margin-right: 0%;
                                                                      max-width: none; }
                            blockquote { margin-left: 1.5em;
                                         margin-right: 0em; }
                            blockquote p, blockquote footer { width: 100%; }
                            label.margin-toggle:not(.sidenote-number) { display: inline; }
                            .sidenote, .marginnote { display: none; }
                            .margin-toggle:checked + .sidenote,
                            .margin-toggle:checked + .marginnote { display: block;
                                                                   float: left;
                                                                   left: 1rem;
                                                                   clear: both;
                                                                   width: 95%;
                                                                   margin: 1rem 2.5%;
                                                                   vertical-align: baseline;
                                                                   position: relative; }
                            label { cursor: pointer; }
                            div.table-wrapper, table { width: 85%; }
                            img { width: 100%; } }

.darklight {
  color: #f0f3f7;
  background-image: url("./bg-square-light.png");
  background-color: #4e5863;
}

.dark {
  color: #f8f9ff;
  background-image: url("./bg-square-light.png");
  background-color: #282c34;
}

.lightdark {
  background-image: url("./bg-square-dark.png");
  background-color: #f4ecd8;
  color: #5b4636;
}

::selection {
  background: #e5f2f1;
}

.dark ::selection {
  background: #477572;
  color: #e6f5f4;
}

.lightdark ::selection {
  background: #dde2d2;
}

.darklight ::selection {
  background-color: #71a29e;
  color: #e7f9f7;
}

/*.dark a:link { text-decoration: none;
         background: -webkit-linear-gradient(#111, #111), -webkit-linear-gradient(#111, #111), -webkit-linear-gradient(#fffdf9, #fffdf9);
         background: linear-gradient(#111, #111), linear-gradient(#111, #111), linear-gradient(#fffdf9, #fffdf9);
         -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         background-repeat: no-repeat, no-repeat, repeat-x;
         text-shadow: 0.03em 0 #111, -0.03em 0 #111, 0 0.03em #111, 0 -0.03em #111, 0.06em 0 #111, -0.06em 0 #111, 0.09em 0 #111, -0.09em 0 #111, 0.12em 0 #111, -0.12em 0 #111, 0.15em 0 #111, -0.15em 0 #111;
         background-position: 0% 93%, 100% 93%, 0% 93%; }

.dark a:link::selection {
  background: -webkit-linear-gradient(#111, #111), -webkit-linear-gradient(#111, #111), -webkit-linear-gradient(#fffdf9, #fffdf9);
  background: linear-gradient(#111, #111), linear-gradient(#111, #111), linear-gradient(#fffdf9, #fffdf9);
}*/


.licensing {
  font-size: 1.1rem !important;
  margin-top: 2rem;
}

.licensing img {
  width: 14px;
  height: 14px;
}

.theming {
  position: absolute;
  z-index: 100;
  top: 25px;
  right: 25px;
}

.themes div {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid transparent;
  text-decoration: none;
  transition: border-color .25s ease-in-out;
}

.themes .wrapper {
  width: 27px;
  height: 27px;
  margin-left: 1px;
  border-radius: 50%;
  float: left;
  border-width: 2px;
}

.themes #light {
  background-color: #fffdf9;
  border-color: #111;
}

.themes #lightdark {
  background-color: #f4ecd8;
  border-color: #5b4636;
}

.themes #darklight {
  background-color: #4e5863;
  border-color: #f0f3f7;
}

.themes #dark {
  background-color: #282c34;
  border-color: #e0e0e0;
}

.themes .active {
  border-color: orange !important;
}

/*
.themes .hover {
   box-shadow: 10px 10px 10px 10px #d7d7d7;
   border-color: #d7d7d7;
}*/

.inactive {
  display: none;
}

.our {
  color: #fffdf9;
  padding: 0 12px 0 13%;
  margin-right: 5px;
}

.ratpark-logo {
  color: #fffdf9;
  padding: 0 0 0 13%;
  margin-right: 5px;
}

.data {
  background-color: #517fb3;
}

.credit {
  background-color: #51b386;
}

.movement {
  background-color: #ae2317;
}

.funding {
  background-color: #d3697b;
}

.foundation {
  background-color: #888;
}

.rule {
  background-color: #800000;
}

.design {
  background-color: #418a86;
}

.coop {
  background-color: #2f9751;
}

.ratpark {
  color: inherit;
  margin-right: 0px;
}

.keyword {
  background-color: inherit;
  color: inherit;
  padding: 0;
  transition: color .25s ease-in-out;
  transition: background-color .5s ease-in-out;
}

body.dark .highlight {
  background-color: #fee8c3;
  color: #2f2a23;
  padding: 2px 5px;
}

body.darklight .highlight {
  background-color: #fee8c3;
  color: #2f2a23;
  padding: 2px 5px;
}

body.light .highlight {
  background-color: #fee8c3;
  color: #2f2a23;
  padding: 2px 5px;
}

body.lightdark .highlight {
  background-color: #fedda7;
  color: #3e3527;
  padding: 2px 5px;
}

body.dark .underscore {
  /*   border-bottom: 3px solid #fedda7;  */
}

body.darklight .underscore {
  /*   border-bottom: 3px solid #fedda7;  */
}

body.light .underscore {
  /*   border-bottom: 3px solid #d08f24;  */
}

body.lightdark .underscore {
  /*   border-bottom: 3px solid #d08f24;  */
}
